In [1]:
import pandas as pd
import sqlalchemy as alch
from getpass import getpass

In [2]:
rick_morty = pd.read_csv('./RickAndMortyScripts.csv')

In [3]:
rick_morty.head()

,index,season no.,episode no.,episode name,name,line
0,0,1,1,Pilot,Rick,Morty! You gotta come on. Jus'... you gotta co...
1,1,1,1,Pilot,Morty,"What, Rick? What’s going on?"
2,2,1,1,Pilot,Rick,"I got a surprise for you, Morty."
3,3,1,1,Pilot,Morty,It's the middle of the night. What are you tal...
4,4,1,1,Pilot,Rick,"Come on, I got a surprise for you. Come on, h..."

In [4]:
password = getpass("Introduce tu pass de sql: ")
dbName="rick_morty"
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"
engine = alch.create_engine(connectionData)
print("me conecté")

Introduce tu pass de sql: ········
me conecté

In [8]:
rick_morty['episode name'].unique()

array(['Pilot', 'Lawnmower Dog', 'Rick Potion 9', 'A Rickle in Time',
       'The Wedding Squanchers', 'Get Schwifty',
       'Interdimensional Cable 2  Tempting Fate',
       'The Rickshank Rickdemption', 'Pickle Rick',
       'Vindicators 3  The Return of Worldender',
       'Tales From the Citadel'], dtype=object)

In [9]:
rick_morty.drop(['index'], axis = 1, inplace=True)

In [10]:
rick_morty.head()

,season no.,episode no.,episode name,name,line
0,1,1,Pilot,Rick,Morty! You gotta come on. Jus'... you gotta co...
1,1,1,Pilot,Morty,"What, Rick? What’s going on?"
2,1,1,Pilot,Rick,"I got a surprise for you, Morty."
3,1,1,Pilot,Morty,It's the middle of the night. What are you tal...
4,1,1,Pilot,Rick,"Come on, I got a surprise for you. Come on, h..."

In [11]:
rick_morty['season no.'].unique()

array([1, 2, 3])

In [12]:
# only season one

In [13]:
rick_morty = rick_morty[rick_morty['season no.'] == 1]

In [14]:
rick_morty.head()

,season no.,episode no.,episode name,name,line
0,1,1,Pilot,Rick,Morty! You gotta come on. Jus'... you gotta co...
1,1,1,Pilot,Morty,"What, Rick? What’s going on?"
2,1,1,Pilot,Rick,"I got a surprise for you, Morty."
3,1,1,Pilot,Morty,It's the middle of the night. What are you tal...
4,1,1,Pilot,Rick,"Come on, I got a surprise for you. Come on, h..."

In [16]:
rick_morty['name'].unique()

array(['Rick', 'Morty', 'Jerry', 'Summer', 'Beth', 'Mr. Goldenfold',
       'Jessica', 'Principal Vagina', 'Announcer', 'Mrs. Pancakes',
       'Snuffles', 'Scary Terry', 'Brad'], dtype=object)

### Solo quermeos a los personajes principales, es decir:

- Rick

- Morty

- Jerry

- Summer

- Beth

In [17]:
rick_morty = rick_morty[(rick_morty['name'] == 'Rick') | (rick_morty['name'] == 'Morty') | (rick_morty['name'] == 'Jerry') | (rick_morty['name'] == 'Summer') | (rick_morty['name'] == 'Beth')]

In [18]:
rick_morty.name.unique()

array(['Rick', 'Morty', 'Jerry', 'Summer', 'Beth'], dtype=object)

In [19]:
# bien

Tengo que hacer ir por cada episodio y hacer depsues un try except para comprobar si cada personaje tiene mas de 10 frases, si tiene mas de 10, solo quiero que me devuelva 10, si tiene menos que me devuelva todas.